<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group col-xs-12">
              <div class="col-xs-10 vertical-central">
                <label class="title-form">Sign up form</label>
              </div>
            </div>
            <div class="form-group col-xs-12">
              <div class="col-xs-4 vertical-central">
                <label for="email">Email</label>
              </div>
              <div class="col-md-8">
                <input type="email"
                       id="email"
                       formControlName="email"
                       class="form-control">
              </div>
            </div>
            <div class="form-group  col-xs-12">
              <div class="col-xs-4 vertical-central">
                <label for="password">Password</label>
              </div>
              <div class="col-md-8">
                <input type="password"
                       id="password"
                       formControlName="password"
                       #passField
                       class="form-control">
              </div>
            </div>
            <div class="form-group  col-xs-12">
              <div class="col-xs-4 vertical-central">
                <label for="confirmpassword">Confirm password</label>
              </div>
              <div class="col-md-8">
                <input type="password"
                       id="confirmpassword"
                       formControlName="confirmpassword"
                       class="form-control">
              </div>
            </div>
            <div class="form-group  col-xs-12">
              <div class="col-md-10">
                <button type="submit"
                        class="btn btn-primary"
                        [disabled]="!signupForm.valid">
                  Sign Up
                </button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="onCancel()">
                  Reset
                </button>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-xs-offset-2">
        <span *ngIf="signupForm.get('email').valid">&nbsp;</span>
        <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">
          <span *ngIf="signupForm.get('email').errors['email']" class="help-block">* Email must be valid</span>
          <span *ngIf="signupForm.get('email').errors['required']" class="help-block">* Email is required</span>
          <span *ngIf="signupForm.get('email').errors['incorrect']" class="help-block">* {{errorValue}}</span>
        </span>
        <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block">
          <span *ngIf="signupForm.get('password').errors['pattern']" class="help-block">* Password must contain digits only</span>
          <span *ngIf="signupForm.get('password').errors['minlength']" class="help-block">* Password must contain at least 8 characters</span>
          <span *ngIf="signupForm.get('password').errors['required']" class="help-block">* Password is required</span>
        </span>
        <span *ngIf="!signupForm.get('confirmpassword').valid && signupForm.get('confirmpassword').touched" class="help-block">
          <span *ngIf="signupForm.get('confirmpassword').errors['required']" class="help-block">* Confirm password is required</span>
          <span *ngIf="signupForm.get('confirmpassword').errors['confirm']" class="help-block">* Passwords are not equals</span>
        </span>
      </div>
    </form>
  </div>
</div>
